    <!-- About Section -->

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Beijing Pm2.5 pollution and this dataset</h2>
              <br/>
                <p>China's State Council has set a Pm2.5 improvement targets for Beijing area for 25% reduction of annual mean PM2.5 concentrations from 2012 to 2017. In this study, we are exploring the if Beijing achieving its pollution reduction target in Pm2.5 and what kind of weather condition is impacting this measurement. PM 2.5 concentrations index is a air quality measurement to measure number of fine particles or droplets in the air. The US EPA standard level of PM2.5 in 24-hour period average is 35 micrograms per cubic meter (µg/m^3). The data used in the study comes from <a href="http://archive.ics.uci.edu/ml/datasets/Beijing+PM2.5+Datal">UC Irvine Machine Learning database </a>. The dataset contains the hourly PM2.5 index taken at the US Embassy in Beijing and the meteorological data from Beijing Capital International Airport from 2010 to 2014, which across the year before and during the Pm2.5 concentration reduction plan.</p>
                <p>This site uses Interactive Slideshow to show different elements that is impacting  the PM2.5 measurement. You can use the navigation bar on the top to see each of the slides with d3js charts!</p>

                <br/>
              </div>

        </div>
    </section>
