<section id="graph">




<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>

                <style> .chart rect { fill: steelblue } </style>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <svg class="chart" width="120" height="500">
                        <rect></rect>
                        <rect></rect>
                        <rect></rect>
                        <rect></rect>
                        <rect></rect>
                        <rect></rect>
                    </svg>

                    <script>
                    var data = [4,8,15,16,23,42];
                    d3.selectAll("rect")
                        .data(data)
                        .attr("width",19)
                        .attr("height",function(d) { return 10*d; })
                        .attr("x",function(d,i) { return 20*i; })
                        .attr("y",function(d) { return 420 - 10*d; });
                    </script>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
